			<section id="sidebar-contact" class="well">
				<h3 class="mini-icon">Contact</h3>
                <a style="margin-bottom: 10px;" class="btn btn-default btn-sm" href="https://www.facebook.com/electronicsiitb" role="button">Like us on Facebook</a>
                <a style="margin-bottom: 10px;" class="btn btn-default btn-sm" href="https://groups.google.com/forum/#!forum/elec-club/join" role="button">Join the Google Group</a>
                <a style="margin-bottom: 10px;" class="btn btn-default btn-sm" href="https://github.com/elec-club-iitb" role="button">Contribute on Github</a>
			</section>
